{% extends 'worker/workerhomepage2.html' %}
 {% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/wcomplaint_post">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td>
      <textarea name="txtcmp" id="txtcmp" required class="form-control" cols="40" rows="10" placeholder="Enter your complaint here"></textarea></td>
    </tr>
<tr>
      <th colspan="2" scope="row"><div align="center"><input class="btn btn-outline-primary" type="submit" name="button" id="button" value="SUBMIT " /></div> </th>
    </tr>

  </table>
</form>
</body>
</html>
{% endblock %}