{% extends 'worker/workerhomepage.html' %}
 {% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/workercmpreply">
  <table class="table table-active table-bordered" style="border-color: white">
    <tr>
      <th style="background-color:  #47b2e4;color: white" width="26" scope="col">#</th>
      <th style="background-color:  #47b2e4;color: white" width="26" scope="col">Date</th>
      <th style="background-color:  #47b2e4;color: white" width="26" scope="col">Complaint</th>
      <th style="background-color:  #47b2e4;color: white" width="26" scope="col">Reply</th>
      <th style="background-color:  #47b2e4;color: white" width="26" scope="col">Date</th>
    </tr>
      {% for i in data %}
    <tr>
    <td>{{ forloop.counter }}</td>
      <td>{{ i.cdate }}</td>
      <td>{{ i.complaint }}&nbsp;</td>
        {% if i.reply == 'pending' %}
            <td colspan="2"><div align="center"><font color="red"><b>The admin has not replied yet!!!</b></font></div> </td>

            {% else %}
             <td>&nbsp;{{ i.reply }}</td>
      <td>&nbsp;{{ i.rdate }}</td>
    {% endif %}
    </tr>
       {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}