{% extends 'worker/workerhomepage.html' %}
 {% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/workrequest">
  <table class="table table-active table-bordered" style="border-color: white">
    <tr>
      <th style="background-color:  #47b2e4;color: white" width="37" scope="col">#</th>
         <th style="background-color:  #47b2e4;color: white" width="71" scope="col">Image</th>
      <th style="background-color:  #47b2e4;color: white" width="71" scope="col">Name</th>
      <th style="background-color:  #47b2e4;color: white" width="81" scope="col">Phone</th>
      <th style="background-color:  #47b2e4;color: white" width="126" scope="col">Work description</th>
      <th style="background-color:  #47b2e4;color: white" width="78" scope="col">Booking date</th>
      <th style="background-color:  #47b2e4;color: white" width="105" scope="col">Location</th>
      <th style="background-color:  #47b2e4;color: white" width="105" scope="col">Date</th>
      <th style="background-color:  #47b2e4;color: white" width="105" scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><img src="{{ i.CUSTOMER.photo}}" alt="no image" height="100" width="100" class="rounded-circle"/><br></td>
        <td>{{ i.CUSTOMER.name }}</td>
      <td>{{ i.CUSTOMER.phone}} </td>

      <td>{{ i.description }}</td>
         <td>{{ i.SCHEDULE.date }}</td>
      <td>&nbsp;<a href="http:\\www.google.com\maps\q?={{ i.latitude }},{{ i.longitude }}" class="btn btn-outline-dark">Locate</a></td>
  <td>{{ i.date }}</td>
      <td><p><a href="/workrequestaccept/{{i.id }}#contact" class="btn btn-outline-success" style="width: 50%">Accept</a></p>
      <p><a href="/workreject_post/{{ i.id }}" class="btn btn-outline-danger" style="width: 50%">Reject</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}