{% extends 'worker/workerhomepage2.html' %}
 {% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/workerprofileedit_post/{{data.id}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <table class="table table-bordered">
     <tr>
      <th align="left" scope="row">Profile Picture</th>
      <td>
       <img src="{{ data.photo }}" height="100" width="100" alt=""/>
        <input type="file" name="photo" id="photo"  value="" />
      </td>
    </tr>
    <tr>
      <th align="left" scope="row">Name</th>
      <td>
      <input type="text" name="txtname1" id="txtname1" value="{{ data.name }}" class="form-control" required /></td>
    </tr>
    <tr>
      <th align="left" scope="row">Email</th>
      <td>
      <input type="text" name="useremail" id="useremail"  value="{{ data.email }}" readonly class="form-control"/></td>
    </tr>
    <tr>
      <th align="left" scope="row">Change location</th>
      <td>
      <div id="gmap"></div>

                 <input type="hidden" name="lt" id="lt" required class="form-control"/>
                   <input type="hidden" name="lg" id="lg" required  class="form-control"/>
      </td>
    </tr>
    <tr>
      <th align="left" scope="row">Category</th>
      <td>
        <select name="ctgry" id="ctgry" class="form-select">

            {% for i in cat %}

            <option value="{{ i.id }}" {% if data.CATEGORY_id == i.id %}selected{% endif %}>{{ i.name }}</option>

            {% endfor %}
      </select></td>
    </tr>
    <tr>
      <th align="left" scope="row">Phone</th>
      <td><input type="text" name="phone" id="phone"  value="{{ data.phone }}" pattern="[0-9]{10}" maxlength="10" class="form-control" required/></td>
    </tr>
    <tr>
      <th height="95" align="left" scope="row">Qualification</th>
      <td>
        <input type="text" name="Quali" id="Quali"  value="{{ data.qualification }}" class="form-control" required/>
      </td>
    </tr>
    <tr>
      <th align="left" scope="row">Additional info</th>
      <td>
          <textarea  name="addinfo" id="addinfo"  value="" class="form-control" required>{{ data.additionalinfo }}</textarea></td>
    </tr>
    <tr>
      <th align="left" scope="row">Min wages</th>
      <td>
      <input type="number" min="100" name="minw" id="minw"  value="{{ data.min_wage }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><div align="center"><input type="submit" name="edit" id="edit" value="Submit" class="btn btn-outline-primary" /></div> </th>
    </tr>
  </table>
</form>
</body>
</html>



<style type="text/css">
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }
</style>

<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk&sensor=false">
</script>
<script type="text/javascript">

    var map;
        function initialize() {
            var myLatlng = new google.maps.LatLng(11.618061975930,75.36565089010);
            var myOptions = {
                zoom:7,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });

            google.maps.event.addListener(map, "click", function(event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("lt").value = clickLat.toFixed(5);
                document.getElementById("lg").value = clickLon.toFixed(5);

{#                  var marker = new google.maps.Marker({#}
{#                        position: new google.maps.LatLng(clickLat,clickLon),#}
{#                        map: map#}
{#                     });#}
            });
    }

    window.onload = function () { GetMylocation() };


</script>
     <style>
 div#gmap {

        width: 100%;
        height: 300px;
        border:double;
 }
    </style>

{#    <form id="form1" runat="server">#}
<center>
<!-- MAP HOLDER -->

<!-- REFERENCES -->
{#Lat: <input type="text" id='lat'>#}
{#Lon: <input type="text" id='lon'>#}

</center>




<script>

function GetMylocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    //x.innerHTML = "Geolocation is not supported by this browser.";
      alert("Geolocation is not supported by this browser.")
  }
}
var x1 = document.getElementById("lt");
var x2 = document.getElementById("lg");
var map;
function showPosition(position) {
  x1.value=position.coords.latitude;
  x2.value=position.coords.longitude;

  var myLatlng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            var myOptions = {
                zoom:14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });

            google.maps.event.addListener(map, "click", function(event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("lt").value = clickLat.toFixed(5);
                document.getElementById("lg").value = clickLon.toFixed(5);

{#                  var marker = new google.maps.Marker({#}
{#                        position: new google.maps.LatLng(clickLat,clickLon),#}
{#                        map: map#}
{#                     });#}
            });


}
</script>
{% endblock %}
