<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="400" height="472" border="1">
    <tr>
      <th width="226" align="left" scope="row"><p>Category management</p></th>
      <td width="158" align="center"><p><a href="/admin_add_category">add</a></p>
      <p><a href="/admin_view_category">View</a></p></td>
    </tr>
    <tr>
      <th align="left" scope="row"> worker approval</th>
      <td align="center"><a href="/worker_approval">View</a></td>
    </tr>
    <tr>
      <th height="73" align="left" scope="row">view worker</th>
      <td align="center"><a href="/worker_view_list">View</a></td>
    </tr>
    <tr>
      <th height="80" align="left" scope="row">view customer</th>
      <td align="center"><a href="/admin_view_customer">View</a></td>
    </tr>
    <tr>
      <th align="left" scope="row">View complaints</th>
      <td align="center"><p><a href="/worker_view_complaint">View Worker Complaint</a></p>
        <p><a href="/user_view_complaint">View Customer Complaint</a></p>
      <p>&nbsp;</p></td>
    </tr>
    <tr>
      <th align="left" scope="row">View feedback</th>
      <td align="center"><a href="/feedback_view_request">View</a></td>
    </tr>
    <tr>
      <th align="left" scope="row">Change password </th>
      <td align="center"><a href="/admin_changepass_request">Change</a></td>
    </tr>
      <tr>
      <th align="left" scope="row">logout </th>
      <td align="center"><a href="/logout">logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
